src/main/mule/airIndiaFlights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="airIndiaFlightsFlow" doc:id="9de9fd73-f9e7-411d-87d8-181552051091" >
		<logger level="INFO" doc:name="Logger" doc:id="17bf98b1-9282-48d7-947b-32760f5dbc44" message="AirIndia Flow Started... "/>
		<ee:transform doc:name="Transform Message" doc:id="8501158e-2a79-4d45-b520-fdae389996da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#getFlights: {
		from: attributes.queryParams.source,
		to: attributes.queryParams.destination,
		depatureDate: attributes.queryParams.doj
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="784ed65c-3ee4-4b95-826f-14f3231bd99f" message="Request prepared for Air India... #[payload]"/>
		<wsc:consume doc:name="Consume" doc:id="8ccb554e-3a4a-4c72-8383-a02b7132e96e" config-ref="Web_Service_Consumer_Config" operation="getFlights"/>
		<logger level="INFO" doc:name="Logger" doc:id="f80ce274-19d1-49b4-a6d3-d6f5a67f356d" message="Response received from AirIndia SOAP service.. #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="f6aff980-98dc-4577-b0b7-44d44e39d7ac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#getFlightsResponse.*return map ( return , indexOfReturn ) -> {
	Id: return.ID default 0,
	airlineName: return.airline default "",
	fCode: return.flightCode default "",
	fromAirportCode: return.fromAirportCode default "",
	toAirportCode: return.toAirportCode default "",
	departureDate: return.departureDate default "",
	emptySeats: return.emptySeats default 0,
	totalSeats: return.totalSeats as Number default 0,
	price: return.price default 0,
	planeType: return.planeType default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ba2fa143-e159-4b78-8a15-7fd6b4672d3d" message="AirIndia flights Final response after Trannsformation... #[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="fab9ad4b-131f-462e-ad9c-9ea7fba68815" >
				<logger level="INFO" doc:name="Logger" doc:id="c4b8df23-9d6b-4c74-969e-f01e4e9966ee" message="On error Propagate of Air india FLights flow..."/>
				<ee:transform doc:name="Transform Message" doc:id="839f86d6-d6d6-475d-9af7-66109999ba0b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	statusCode:500,
	message:"Unable to process your request, please try after sometime."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
