src/main/mule/airindiaFlightsURI.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="airindiaFlightsURIFlow" doc:id="e857f43d-f69b-41e5-a7c0-2d152810b790" >
		<logger level="INFO" doc:name="Logger" doc:id="be62a95f-7384-4284-9f35-5cfa3bbb8953" message="Started airindiaFlightsURI Flow...#[attributes.uriParams]"/>
		<ee:transform doc:name="Transform Message" doc:id="7227984d-7fc3-432d-b48e-9aa581191d64" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#getFlights: {
		from: attributes.uriParams.source,
		to: attributes.uriParams.destination,
		depatureDate: attributes.uriParams.doj
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="cf67c7ba-63a7-446c-b8b8-3b811cf7a725" config-ref="Web_Service_Consumer_Config" operation="getFlights"/>
		<logger level="INFO" doc:name="Logger" doc:id="6aa39f0a-18b1-4db9-861a-7d4ea983f0f0" message="AirIndia Webservice Consume response... #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="288284d7-8a87-412c-97de-838e7bf22e18" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#getFlightsResponse.*return map ( return , indexOfReturn ) -> {
	Id: return.ID default 0,
	airlineName: return.airline default "",
	fCode: return.flightCode default "",
	fromAirportCode: return.fromAirportCode default "",
	toAirportCode: return.toAirportCode default "",
	departureDate: return.departureDate default "",
	emptySeats: return.emptySeats default 0,
	totalSeats: return.totalSeats as Number default 0,
	price: return.price default 0,
	planeType: return.planeType default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1fe22f0c-ef88-44e1-bf72-9d520f2dba2e" message="AirIndia Flights response after Transform Message .. #[payload]"/>
	</flow>
</mule>
